.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.register-header {
  margin-bottom: 50px;
  text-align: center;
  display: flex;
}

.register-title {
  font-weight: 700;
  color: #333;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.register-form-wrapper {
  width: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error-message-register {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.signIn-link {
  color: #25deb3;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.signIn-link:hover {
  color: #0df5aa;
  text-decoration: underline;
  cursor: pointer;
}

.logo {
  width: 75px;
  height: min-content;
  margin-bottom: 10px;
}
