.message-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  background-color: #f8f8f8;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  position: relative; /* Important to position the picker */
}

.message-input {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background: none;
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
}

.message-input::placeholder {
  color: #999;
}

.message-bar-send-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  color: #666;
  transition: transform 0.2s ease;
}

.message-bar-emoji-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: 0px;
  color: #666;
  transition: transform 0.2s ease;
}

.message-bar-emoji-picker {
  position: absolute;
  bottom: 60px;
  right: 0px;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.message-bar-button-large {
  transform: scale(1.2);
}

.message-bar-container {
    position: relative;
    width: 100%; /* Assurez-vous que le conteneur parent prend toute la largeur */
    max-width: 600px; /* Assurez-vous que le conteneur parent a la même largeur maximale que la barre de message */
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.commands-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
    margin-bottom: 5px;
    position: absolute;
    bottom: 100%;
    left: 0; /* Aligner avec la gauche de la zone d'écriture */
    z-index: 50;
}

.command-item:hover {
    background-color: #f0f0f0;
}

.selected-command {
    padding-left: 10px;
    cursor: pointer;
    width: 90%;
    border-radius: 10px;
    background-color: #e0e0e0; /* Couleur de fond grisée */
  }

  .typing-indicator {
    font-style: italic;
    color: #888;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: inline-block;
  }
  

  .dot-animation {
    display: inline-block;
    margin-left: 5px;
  }
  
  .dot-animation span {
    display: inline-block;
    animation: blink 1.5s infinite;
    font-weight: bold;
    font-size: 14px;
  }
  
  .dot-animation span:nth-child(1) {
    animation-delay: 0s;
  }
  .dot-animation span:nth-child(2) {
    animation-delay: 0.2s;
  }
  .dot-animation span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes blink {
    0%, 20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }